<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- imports bootstrap stylesheets -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Flask Todo App</title>
  </head>
  <body>
    <div class="container" style="margin-top: 100px">
      <h3>What do you want to do today?</h3>
      <hr />
      <!-- input form that, on add hits our add endpoint on enter -->
      <form action="/add" method="post">
        <div class="form-group">
          <label for="title">Todo Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Enter Todo..."
          /><br /> 
        </div>
      </form>
      <!-- if there are no todos print a warning message -->
      {% if todo_list == [] %}
      <div class="alert alert-warning" role="alert">No Todo available</div>
      <!-- otherwise loop through all of the todos in the list and display them one by one -->
      {% else %}
        {% for todo in todo_list %}
        <!-- this div stores the full todo object -->
        <div style="background-color: azure; padding:10px; margin:10px">
          <!-- title of the todo -->
          <span style="display:inline-block;width:400px">{{ todo.title }}</span>
          <!-- if the todo is not completed, show "Not Complete" -->
          {% if todo.complete == False %}
          <span style="display:inline-block;width:100px; margin:25px" class="badge badge-danger">Not Complete</span>
          <!-- otherwise, show "Complete" -->
          {% else %}
          <span style="display:inline-block;width:100px; margin:25px" class="badge badge-success">Completed</span>
          {% endif %}
          <!-- buttons to update status of todo and delete -->
          <a href="/complete/{{ todo.id }}" style="margin-left:25px" class="btn btn-info">✓</a>
          <a href="/delete/{{ todo.id }}" style="margin-left:25px" class="btn btn-danger">✗</a>
        </div>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>
